<app-navbar></app-navbar>

<div id="graph_container">
  <div id="inputs-container">
    <div>
      <label class="input-label" for="start">Start</label>
      <input type="datetime-local" name="start" id="start" />
    </div>
    <div>
      <label class="input-label" for="end">End</label>
      <input type="datetime-local" name="end" id="end" />
    </div>
  </div>
  <div id="graph">
    <div *ngIf="showChart">
      <canvasjs-chart [options]="chartOptions"
                      (chartInstance)="getChartInstance($event)"
                      [styles]="{ width: '100%', height: '360px' , }"></canvasjs-chart>
    </div>

  </div>
</div>
